* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

p {
  font-family: "Trebuchet MS", sans-serif;
}

body {
  background-color: #ffffff;
}
/* Header/Logo Title */

.header {
  padding: 20px;
  padding-left: 50px;
  text-align: left;
  background: #2b2b2b;
  color: white;
  font-size: 25px;
  margin-bottom: 30px;
}

.form-popup {
  display: none;
  width: 35%;
  border: 1px solid #989898;
  padding: 15px;
  margin: 10px;
  margin-bottom: 60px;
}

/* use flex for styling and position of elements*/
.container-1 {
  display: flex;
  justify-content: space-around;
}

.container-1 div,
.displayLaptop,
.form-popup {
  padding: 15px;
  margin: 10px;
  margin-bottom: 60px;
  background-color: #f5f5f5;
  box-shadow: 0 8px 6px -6px #a0a0a0;
}

.banker {
  flex: 1;
  justify-content: space-between;
}

.work {
  flex: 1;
}

.laptops {
  flex: 1;
}

.container-2 {
  display: flex;
  justify-content: center;
}

#workPayp {
  padding-bottom: 50px;
}

.displayLaptop {
  text-align: center;
  width: 40%;
}

/*Buttons*/
.long-button {
  font-family: "Trebuchet MS", sans-serif;
  background-color: #4caf50;
  border: none;
  border-radius: 25px;
  color: #f5f5f5;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.long-button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  color: #e8e8e8;
  text-decoration: underline;
}

#btnBuy {
  margin-top: 20px;
  background-color: #f08080;
}

#btnCancel {
  background-color: #f08080;
}

.button {
  font-family: "Trebuchet MS", sans-serif;
  background-color: #6495ed;
  border: none;
  border-radius: 25px;
  color: #f5f5f5;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  color: #e8e8e8;
  text-decoration: underline;
}

img {
  width: 200px;
  height: 150px;
  float: left;
}

/*dropdown menu*/
select {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px 35px 5px 5px;
  font-size: 14px;
  border: 1px solid rgb(84, 83, 83);
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: white;
  background: url(favicon.ico) 95% / 7% no-repeat #6495ed;
}


select::-ms-expand {
  display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}
